/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :click {
    outline: none;
}

a:focus, a:click {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/*--------------------*/

body {
    font-family: 'Inter', sans-serif;
    background-color: #eceff4;
}

.content {
    margin-top: 10px;
}

.container {
    margin: 0px auto;
}
.content__row {
    display: flex;
}

.setting__icon1 {
    width: 40px;
    height: 40px;
}

.people {
    margin-top: 10px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    width: 276px;
    height: 40px;
    /* Light grey */
    background: #F5F5F5;
    border-radius: 22px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin-left: 50px;
}

.people__column {
    display: flex;
    flex-direction: column;
}

.person {
    margin-right: 10px;
    -webkit-transition: 0.5s ease; /* Safari and Chrome */
    -moz-transition: 0.5s ease; /* Firefox 4 */
    -o-transition: 0.5s ease; /* Opera */
}

.person__row {
    display: flex;
}

.text {
    font-size: 50px;
}

.setting__icon1 {
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.setting__icon1:hover {
    -webkit-transform: scale(3);
    -ms-ransform: scale(3);
    transform: rotate(90deg);
    transition: 200ms;

}

.setting__icon1 {

    border-radius: 25px;
}

.person__rerow {
    display: flex;
    width: 365px;
    justify-content: space-between;

}

.person__row:first-child img {

    /* Iceberg Blue */
    background: #8BABD8;

}

.person {
    margin-top: 12px;
}

.person__leftColumn {
    display: flex;
    flex-direction: column;
}

.person__rightColumn {
    display: flex;
    flex-direction: column;
}

.person__img img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.person__names {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    /* identical to box height, or 125% */

    /* Rich Black */
    color: #011627;
}

.person__lastMessage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height, or 129% */
    margin-top: 5px;
    /* Navy Grey */
    color: #707991;


}

.person__time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    /* identical to box height, or 133% */

    /* Navy Grey */
    color: #707991;
}

.person__messageNum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;


    /* Light Green */
    background: #62de62;
    border-radius: 25px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 10px;
}

.person__messageNum span {
    /* 12-Reg */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    /* identical to box height, or 133% */
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.content {
    margin-left: 26px;
}

.person__leftColumn {
    margin-left: 20px;
}

.person__rightColumn {
    margin-left: 44px;
}

.person:hover {
    background: rgba(245, 245, 245, 1);
    padding: 10px;
    transition: 500ms;
}

.person:nth-child(8) {
    background: rgba(245, 245, 245, 1);
    padding: 10px;
}

.person:active {
    background-color: rgba(245, 245, 245, 1);
}

.personColor {
    background-color: rgb(218, 218, 218);
    padding: 10px;
}

.taskbar{
    display: flex;
    flex-direction: row;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: fixed;
    margin-left: -20px;
    overflow: hidden;
    transition: 850ms  ease-in-out;;
    width: 250px;


}
.taskbarNone{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: -20px;
    position: fixed;
    overflow: hidden;
    transition:850ms ease-in-out;
    width: 40px;
    margin-left:0.0001px
}

.taskbarNone .taskbar__column {
    display: none;
}


.taskbar__column{
    display: flex;
    flex-direction: column;

}

.taskbar__user{
    display: flex;
    flex-direction: column;
}
.taskbar__user img {
    width: 44px;
    height: 44px;
    border-radius: 15px;
}
.taskbar__userColumn{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.taskbar__midColumn{
    display: flex;
    flex-direction: column;
}
.taskbar__lastColumn{
    display: flex;
    flex-direction: column;
}

.taskbar__userMail{
    margin-top: 5px;
    height: 19px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

/* identical to box height */

/* Light / Subtext */
color: #484848;

}
.taskbar__userName{
    height: 22px;

    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */

/* Light / Text */
color: #222133;
}


.taskbar__statusRow{
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    flex-direction: column;
}
.taskbar__change{
    margin-top: 10px;
    font-weight: bolder;
    transition: 800ms;
    color: #142400;
}
.taskbar__change:hover{
    color:#8babd8;
    cursor: pointer;
    transition: 500ms;
}
.taskbar__button{
    margin-top:2px;
}
.online{
    color: #12a428;
    transition: 850ms;


}
.offline{
    color: darkred;
    transition: 850ms;
}
.taskbar__userRow{
    display: flex;
    align-items: center;
}
.taskbar__status{
    margin-left: 20px;
    font-size: 16px;
}
